body {
	font-size:16px;
	line-height:1.2;

}
*, *:after, *:before { box-sizing: border-box; }

.notes li { padding:10px;  }

.vanilla p { margin:0;}
.blocks p { margin:0;}


.checkbox { width:15px; height:15px; display:inline-block; margin-right:3px; color: #000;}
.checkbox:before { content:'☐';  }
.checkbox.checked { }
.checkbox.checked:before { content:'☑';  }
textarea {
	/* position:absolute; */
	/* top:0; */
	/* left:0; */
	width: 100%;
	height: 1.5em;
	border:0;
	outline:none;
	overflow: hidden;
	resize:none;
	display: block;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height:inherit;
	background:#f9f9f9;
	padding:0 4px;
}

span.calculate {
	position:fixed;
	top:0;
	left:0;
	display:inline-block;
	min-height: 1.5em;
	padding: 0 4px;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	cursor: text;
	margin:0;
}
span.calculate #carret { display:inline-block; }
span.calculate #carret:after { content:' '; }

.block-content{
		position:relative;
}
p { min-height:1.5em; padding:0 4px;
		white-space: pre-wrap;
		overflow-wrap: break-word;
		cursor:text;
}
textarea + p { display:none; }

/* textarea:focus { outline:.1px solid #ff0000;} */

@media(min-width:992px){.is-mobile{ display:none !important; }}
@media(max-width:991px){.is-desktop{ display:none !important; }}



.menu-context {
	position: absolute;
	background-color: #fff;
	box-shadow: 1px 1px 3px rgba(20,20,20,0.4);
	/* padding: 4px; */
	transform: translateY(-4px);
}

.item {
	padding: 4px 6px;
	border: 1px solid #ccc;
}
.item:last-child {
	border: none
}

.item.selected {
	background: rgba(160, 143, 199, 0.4);
}

.wrapper-app {
	position: relative;
}
.wrapper-app nav {
	position: sticky;
	top:0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.global-search {
	position:relative;
	max-width: 100%;
	min-width: 300px;
}
.global-search input {
	width:100%;
}
.menu-search {
	position: absolute;
	background-color: #fff;
	min-height:30px;
	width: 100%;
	box-shadow: 1px 1px 3px rgba(20,20,20,0.4);
	/* padding: 4px; */
	top:100%;
	left:0;
	max-height:300px;
}
.menu-search  ul{
	list-style: none;
	margin:0;
	padding: 5px;
}
.menu-search a{ padding:5px; display: block; cursor:pointer;}
.menu-search a:hover,.menu-search a.hover{background-color:rgba(128,128,128,.1);}

.global-search .newNote { border-top:1px solid #ccc; }
.menu-search li.selected { background-color:rgba(128,128,128,.1); }

